<div class="skills">
    <h2>Projects</h2>
    <div class="skill-row">
        <img class="left-img" src="/static/images/fyplogo.png" alt="flutter-img">
        <h3>Speech2Face</h3>
        <p>In our Final year project, we construct facial image of a person from a short audio recording of that person speaking using deep neural networks.</p>
    </div>
    <div class="skill-row">
        <img class="ai-img" src="/static/images/fooden.png" alt="fooden-img">
        <h3>FoodEN</h3>
        <p>Flutter application to donate money to registered NPOs, donate leftover food to deserving people and the opportunity to volunteer for taking the food and delivering it to the needy.</p>
    </div>
    
    <div class="skill-row">
        <img class="left-img" src="/static/images/sub-fyp.png" alt="AI-img">
        <h3>Inverse Facial Recognition Network</h3>
        <p>As a sub-part of our FYP, we built a network to construct a frontal facing, neutral expression image of a person’s face given an input facial identity feature vector.</p>
    </div>
</div>